{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Acme Auto Client Management System</h1>
  <p class="lead">Car Sales and Service Client Management System.</p>
  <p class="lead">
       Hello  {{ user.username }}
 </p>
<button type="button" class="btn btn-primary" onclick=location.href='{%  url 'client_list' %}'> View All Clients </button>

{% if user.is_authenticated %}
<a href='{% url   'change_password' %}'> Change Password </a>
{% endif %}
</div>
{% endblock content %}
